<header class="stat-header">
    <div id="header-text">Statistique</div>
    
</header>
<div id="stat-container">
    <div class="stat-case">
        <app-statistic-case imgPath="img\Icon\Physic-Icon.png" type="Physique"></app-statistic-case>
    </div>
    <div class="stat-case">
        <app-statistic-case imgPath="img\Icon\Dexterity-Icon.png" type="Agilité"></app-statistic-case>
    </div>
    <div class="stat-case">
        <app-statistic-case imgPath="img\Icon\Composure-Icon.png" type="Sang-Froid"></app-statistic-case>
    </div>
    <div class="stat-case">
        <app-statistic-case imgPath="img\Icon\Social-Icon.png" type="Charisme"></app-statistic-case>
    </div>
    <div class="stat-case">
        <app-statistic-case imgPath="img\Icon\Knowledge-Icon.png" type="Connaissance"></app-statistic-case>
    </div>
</div>