<div id="{{type}}">
    <header class="stat-case-header">
        <label >{{type}}</label>
    </header>
    <div class="statistic-information">
        <img src={{imgPath}} alt="" class="stat-icon">
        <input type="number" [(ngModel)]="tmpLevel"  class="stat-input" [min]="minLevel" [max]="maxLevel"  (keypress)="allowOnlyNumbers($event)">
        <div class="stat-input-button-container">
            <button class="stat-input-button" (click)="incrementValue()">+</button>
            <button class="stat-input-button" (click)="decrementValue()">-</button>
        </div>
    </div>
</div>
