<div class="component-body">
    <div id="header-div">
        <label id="page-title">Devil Hunter Files</label>
        <div id="router-auth">
            <a class="auth-link-button" routerLink="/login">Connexion</a>
            <a class="auth-link-button" routerLink="/signup">Créer un compte</a>
        </div>
    </div>
    
    <div id="content">
        <div class="sidebar" [class.closed]="isSidebarClosed">
            <button class="toggle-btn"(click)="toggleSidebar()">☰</button>
            <div class="sidebar-content" [class.closed]="isSidebarClosed">
                <p>Hello</p>
            </div>
        </div>
        <div id="router" [class.closed]="isSidebarClosed">
            <router-outlet></router-outlet>
        </div>
        
    </div>
</div>


